<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather-64.png">
        <title>4041</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>

        </div>

        {{>footer}}
    </body>
</html>