<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather-64.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <!--<h1>{{title}}</h1>-->
            <p>{{name}}</p>
            <img class="portrait" src="/img/minion.jpg">
            <p>This page is coming from about.hbs not from about.html declared under public folder.</p>
        </div>

        {{>footer}}
    </body>
</html>