<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather-64.png">
        
    </head>
    <body>
        <div class="main-content">
            <!-- <h1>This index page coming from hbs template.</h1> -->
            {{>header}}
            <!--<h1>{{title}}</h1>-->
            <p>Enter the location in search bar</p>
            <form>
                <input placeholder="location">
                <button>Search</button>
                <p id="message-1"></p>
                <p id="message-2"></p>
            </form>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>