<!--<h1>Static Header text from headers.hbs</h1>-->
<!-- To pass the variables -->
<!-- <h1>{{title}}</h1>-->

<!-- To show all the pages link in all page for easier navigation-->
<header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>